/**
 * This is the central home page
 *
 */
section#home {
  display: flex;
  flex: 1;
  background-image: url('/img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;

  div.content {
    color: #fff;
    text-align: left;
  }
}
