.product {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 485px;
  width: 280px;
  margin: 35px 45px;

  &_about,
  &_name {
    display: -webkit-box;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_name {
    min-height: 45px;
    $font-size: 18px;

    font-weight: bold;
    font-size: $font-size;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &_about {
    margin: 6px 0;
    min-height: 50px;
    $font-size: 15px;

    font-size: $font-size;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 300;
  }

  &_image {
    object-fit: contain;
    align-self: center;
  }

  &_image[disabled] {
    opacity: 0.5;
  }

  &_footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_price {
    font-size: 14px;
    font-weight: bold;
  }

  &_buy {
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: bolder;
    min-height: 30px;
    min-width: 100px;
    padding: 5px 15px;
  }

  &_buy:not([disabled]) {
    cursor: pointer;
  }

  &_buy:not([disabled]):hover {
    text-decoration: underline;
  }

  &_buy[disabled] {
    opacity: 0.6;
  }
}
